/*usar el siguiente codigo en todos los proyectos.*/
/*propiedades customizadas*/
:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097A7;
    --gris:#757575;

    --fuente: 'Krub', sans-serif;
}
html{
    font-size: 62.5%;
    font-family: var(--fuente);
}
body{
    font-size: 16px;
}

/**************************************************/

.titulo{
    text-align: center;
    font-size: 3.8rem;/** 1rem = 10px**/

    font-weight: 400;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
   
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex; 
    flex-direction: column;
 }
 
@media (min-width: 768px){
  .navegacion-principal{
    flex-direction: row;
    justify-content: space-between;
}
}
 
.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-size: 700;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
 